@CHARSET "UTF-8";
@font-face{
	font-family: "cac_champagne";
	src: url("#{resource['fonts/cac_champagne.ttf']}") format('truetype');
}
html,body{
	height: 100%;
	margin: 0%;	
}

#page{	
	background-image:url("#{resource['img:old_paper.jpg']}"); 
	background-repeat: no-repeat;
	background-size: cover;
	height: 95%;
	width: 100%;
}
#footer{
	padding: 0%;
	margin: 0%;
	height: 5%;
	background-color: #1c97d2;
}
#footerText{
    text-transform: uppercase;
    font-family: "League-Gothic", Courier;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: black;
    text-shadow: 0px 2px 3px rgb(78, 77, 74);
}
#pageLeftColum{
	float: left;
	height: 100%;
	width: 50%;
}
#pageRightColum{
	float: right;
	height: 100%;
	width: 50%;
}

.iconPage{
	width: 80%;
    margin: 8%;
    height: 80%;
/* 	background-color: #20252D; */
}

#mainOutputPanel{
	margin: 8%;
    width: 80%;
    height: 85%;
    border-radius: 20px;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(1, 3, 12, 0.33);
}
#headerContent{
	height: 10%;
	width: 100%;
	background-color: #20252D;
	border-radius: 20px 20px 0px 0px;
	-webkit-box-shadow: 0px 4px 10px 0px rgba(1, 3, 12, 0.33); 
	position: relative;
}
.headerContentText{	
    width: 50%;
    height: 80%;
    color: #1C97D2;
    font-family: cac_champagne;
    font-size: 2em;
    margin-left: 5%;
    padding-top: 2%;
    text-shadow: 5px 5px 15px #000000;
}
#infoContent{
	height: 96%;
	width: 100%;
	background-color: #20252D;
	border-radius: 0px 0px 20px 20px;
	
}
#addUpdateBlock{
	height: 100%;
    overflow: auto;
}
#searchlistBlock{
	height: 100%;
    overflow: auto;
}

.formList{
	height: 96%;
	width: 96%;
}
#resultTable{
	max-width: 95%;
}
.alignCenter{
	text-align: center;
}
.alignLeft{
	text-align: left;
}

form{
	padding-top: 3%;
	padding-left: 2.2%;
	text-align: left;	
}
.inputText{
	width: 70% !important ;
    outline: none !important ;
    color: #8D8E8F !important ;
    padding: 12px 12px !important ;
    border-top: 2px solid #090B0D !important ;
    border-right: 2px solid #424549 !important ;
    border-bottom: 2px solid #424549 !important ;
    border-left: 2px solid #090B0D !important ;
    background: #13161B !important ;
    border-radius: 10px; 
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    
}
.formPanelGrid{
	width: 95%;
	text-align: center;
}
.btAddUpdate{
	width: 90%;
	padding: 7px 7px;
	margin-left: 24%;
	background-color: #1c97d2;
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	border-radius: 5px;
	border-color: #1c97d2;	
}
.btCancelar{
	width: 67%;
	padding: 7px 7px ;
	background-color: #1c97d2;
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	border-radius: 5px;
	border-color: #1c97d2;	
}

.btActionTable{
	width: 25% !important;
    background: none !important;
    border: none !important;
    height: 40%; 
/* 	margin-left: 12%;
 */}

.ui-datatable-odd{
	background-color: #EAF3F3;
}
.ui-datatable-header{
	background-color: #1c97d2 !important;
	text-shadow: none;
	border: none ;
}
.ui-widget-header{
	background: none;
	border: none;
}
th{
	color: #333 !important;
	background: #1c97d2 !important;
	border: none !important;
	text-shadow: none !important;
	font-size: 0.9em;
}
td{
	font-size: 0.9em;
}
btSearch{	
    width: 40px;
    height: 30px;
    margin-left: 0px;
    border-top-width: 0px;		
}

.iconText{
	color: white;
	font-family: "cac_champagne";
	position:absolute;
}
.messagesBox {
	z-index: 1;
    position: fixed;
   /*  top: 550px; */   
    right: 20px;
    width: 301px;
    font-size: 0.8em;
}
.leftIconBox{
	height: 100%;
	margin-left: 10%;
}
.leftIcon{
	position: relative;
    max-height: 80%;
    max-width: 80%;
    left: 15%;
}
.leftIconText{	
    position: relative;
    font-family: cac_champagne;
    font-size: 4.5em;
    left: 32%;
}
.leftIconBox ul{	
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
.leftIconBox ul li{
	display: inline;
	padding-right: 2%;
}
.leftIconBox ul li .ui-widget{
	font-family: cac_champagne;
	color: black;
	font-size: 2em;
}
.panelCalendar{
	font-size: 1.1em;
    color: #A3A3A3;
	margin-left: 12%;
	margin-top: 2%;
}
.panelPlus{	
	width: 100%;
   padding-left: 11%
}
.panelPlus .ui-button{
	zoom: 1.2;
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
.btAutoComplete .ui-autocomplete-input{
	background-color: black;
    border: none;
    color: #8D8E8F !important ;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    width: 100%;
    text-shadow: none !important;
    font-weight: bold;
    font-size: 1.1em;
}
.tipoSelect .ui-selectonemenu-label {
	
    text-shadow: none;
    color: gray;
    background-color: black;
}
.btProdQtd {
	font-size: 1.3em;
	color: #A3A3A3;
}

